/*nave bnar*/
.nave{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: 150px;
}
.list1{
    margin-top: 15px;
    margin-right: 150px;
}
.bloc1{
    display: flex;
    position: fixed;
    width:100%;
    height: 70px;
    justify-content: space-between;
    background-color: #fff;
}

.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    color:#00b39b !important;
}
#par{
    display:flex;
    margin-left: 150px;
    margin-right: 150px;
    width: 1000px;
    justify-content:space-between;
}
.par {
    border-radius:10px;
    color: wheat;
    display: flex;
    margin-left:200px;
}
.p1{
background-color:#00ccb1;
border-radius: 10px;
margin-right: 10px;
width: 300px;
height: 345px;
font-size: 20px;
font-family: 'Roboto', sans-serif;
padding: 30px;
color: white;
}
.p2{
    background-color:#3d83df;
    border-radius: 10px;
    width: 300px;
    height: 345px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
color: white;
}
.p3{
    background-color:#1b2734;
   border-radius: 10px;
   margin-left: 10px;
   height: 345px;
   width: 300px;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
   padding: 30px;
   color: white;
}
.fig{
    display: flex;    
}
.navl{
    width: 268px;
    height: 33px;
}
select{
    background: transparent;
    border-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
}
.des{
    display: block;
}
.picc{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    padding: 10PX;
    width: 220px;
height: 250px;
}

.all{
    display: flex;
    justify-content: space-between;
    background-color:#dcf7f6;
    height: 800px;
}
.tp{
    height: 300px;
    overflow:hidden;
}

.ser:hover{
fill:#747474;
}
.op:hover{
fill:#747474;
}

.imp{
text-align: center;
color: #00b39b;
font-family: 'Roboto', sans-serif;
}

.bort{
    border-style: hidden;
    border-color: #3d83df;
}

.pp{
    text-align: center;
}
.ss{
    color: #747474;
    font-family: 'Roboto', sans-serif;
}
figure:focus{
    background-color:fuchsia;
}
.ser{
    display: block;
    margin-left: 100px;
}
.tex{
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    color: #00b39b;   
}
.tit{
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}
.saw{
    font-size:xx-large ;
    font-family: 'Roboto', sans-serif;
    color:black;
    text-align:center;
}
.so{
border-radius: 7px;
background-color:  #3d83df;
margin-left: 550px;
color: white;
}
.hh{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}
.wi{
    width: 350px;
    margin: 10px;
}

.but{
    justify-content: space-between  ;
}
.but{
     background-color: #3d83df;
     border-radius: 5px;
     color: #fff;
 }
.butall{
display: flex;
justify-content: space-between;
align-items: center;
height: 150px;
width: 312px;
background-color:white;
}
.f1{
    margin-top: 60px;
    margin-left: 160px;
}
.f2{
    margin-top: 20px;
    margin-right: 200px;
}
.pi2{
    margin-top: 30px;
}
h5{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:#00ccb1;       
}
.iu{
    width: 450px;
}
.g{
 text-align: center;
 color: #00ccb1;
 font-family: 'Roboto', sans-serif;   
}
.the{
    text-align: center;
}
.ho:hover{
    color: #747474;
}